@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#loader {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #a9e9c4, #12D8FA, #1FA2FF);
    position: absolute;
    width: 100%;
    height: 100%;
}

#loader img {
    height: 50px;
    width: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #eceef2;
    font-family: 'Montserrat', sans-serif;
}

.app {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 480px;
    margin: auto;
    padding: 50px;
    overflow: hidden;
    z-index: 2;
    background-color: #fff;
    border-radius: 5px 100px 5px 100px;

}

.background {
    position: absolute;
    background: linear-gradient(to right, #bababa, #54adbc, #0e5181);
    width: 100%;
    height: 50%;
    border-radius: 5px 100px 5px 100px;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;

}

.background_night {
    background: url('https://img.alicdn.com/imgextra/i3/6000000003435/TB2HMlHmOMnBKNjSZFoXXbOSFXa_!!6000000003435-0-tbvideo.jpg');
    height: 100%;
    transition: all 0.3s;
}



.loader {
    width: 50px;
    height: 50px;
}

.weather-container {
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
}

.weather-container__title {
    font-size: 24px;
    margin: 0 0 20px;
    text-align: center;
    color: #fff;
}

.form {
    position: relative;
    z-index: 2;
}

.form__error {
    display: none;
}

.form__error_visible {
    display: block;
    position: absolute;
    margin-top: 5px;
    color: #d52e00;
    font-size: 12px;
    width: 300px;
}

.form__group {
    display: grid;
    justify-content: space-between;
    padding: 0;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30px;
    border-radius: 4px 10px 4px 10px;
    border: none;
    background-color: #fff;
    transition: all 0.3s;
}


.form__group:has(.form__input:focus) {
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form__lable {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.form__input {
    height: 100%;
    width: 100%;
    outline: none;
    outline-style: 20px;
    border: none;
    background: none;
    padding: 5px 20px;
}

.form__submit {
    background-color: #1da9fe;
    border: 1px solid rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2px;
    height: 100%;
    border-radius: 4px 10px 4px 10px;
    color: #fff;
    transition: all 0.3s;
}

.form__submit_type_disabled {
    background-color: #e5e5e5;
}

.form__submit_type_dark {
    background-color: #00336e;
    transition: all 0.3s;

}

.popup__close {}

.weather {
    position: relative;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px 80px 5px 80px;
    padding: 20px;



}

.weather__title {

    margin: 0;
    font-size: 18px;
}

.weather__time {
    font-size: 12px;

}

.weather__header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.weather__main-info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
}

.weather__temperature {
    font-size: 48px;
    font-weight: 700;
}

.weather__image {
    border-radius: 50%;
    padding: 10px;
    width: 84px;
    height: 84px;
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.weather__content {
    padding: 10px;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
    flex-direction: column;
}

.weather__description {
    font-size: 14px;
    font-weight: 700;
}

.weather__feelslike {
    font-size: 14px;
    margin: 0;
    padding: 0
}

.weather__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    gap: 20px;
    border-radius: 4px;
    font-size: 12px;

}

.weather__wind {
    position: relative;
    font-weight: 700;
}

.weather__wind:before {
    display: block;
    position: absolute;
    content: url('./images/wind-icon.png');
    transform: scale(0.6);
    right: -5px;
    bottom: 5px;

}

.weather__pressure {
    position: relative;
    font-weight: 700;
}

.weather__pressure:before {
    display: block;
    position: absolute;
    content: url('./images/pressure-icon.png');
    right: 10px;
    transform: scale(0.5);
    bottom: 10px;
}

.weather__humidity {
    position: relative;
    font-weight: 700;
}

.weather__humidity:before {
    display: block;
    position: absolute;
    transform: scale(0.5);
    content: url('./images/humidity-icon.png');
    right: -10px;
    bottom: 10px;
}

.weather__cloudcover {
    position: relative;
    font-weight: 700;
}

.weather__cloudcover:before {
    display: block;
    position: absolute;
    transform: scale(0.4);
    content: url('./images/cloud-icon.png');
    right: -10px;
    bottom: 10px;
}

/* Стили для адаптива под различные типы устройств */

@media(max-width: 568px) {
    .app {
        padding: 50px 20px;
    }

    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather__title {
        font-size: 32px;
    }

    .weather__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .weather__main-info {
        padding-bottom: 0;
    }

    .weather__description,
    .weather__feelslike {
        font-size: 16px;

    }

    .weather__content {
        margin-bottom: 10px;
    }

    .weather__footer {
        justify-content: space-between;
        padding: 10px;
        gap: 10px;


    }
}